<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PublicNumberCheck">

	
	<!-- parameterType:参数类型,resultType:返回值类型, #{id}代表一个站位符 -->
	<select id="queryById" parameterType="int" resultType="PublicNumberCheck">
		 select * from wxms_public_number_check where id = #{id}
	</select>
	<insert id="add" parameterType="PublicNumberCheck">
		 insert into wxms_public_number_check(pid,u_id,applyTime,advise,state,checkedTime)
		 		 values (#{pid},#{u_id},#{applyTime},#{advise},#{state},sysdate)
	</insert>
	<insert id="addMore">
		insert all  
		<foreach collection="list" item="s">
			into wxms_public_number_check(pid,u_id,applyTime,advise,state,checkedTime) values 
			(#{s.pid},#{s.u_id},#{s.applyTime},#{s.advise},#{s.state},sysdate) 
		</foreach>
		select 1 from dual
	</insert>
	<update id="update" parameterType="PublicNumberCheck">
		update wxms_public_number_check set
		pid = #{pid},
		u_id = #{u_id},
		applyTime = #{applyTime},
		advise = #{advise},
		state = #{state},
		checkedTime = sysdate
		where id = #{id}
	</update>
	<select id="queryAll" resultType="PublicNumberCheck">
		select * from wxms_public_number_check
	</select>
	<select id="queryByPage" parameterType="map" resultType="PublicNumberCheck">
		select * from 
		(select rownum rn, t.* from 
		(select * from wxms_public_number_check)t
		) a
		where ${condition} and a.rn>=#{start} and a.rn&lt;=#{pageSize}
	</select>
	<select id="queryByPageCondition" parameterType="map" resultType="PublicNumberCheck">
		select * from 
		(select rownum rn, t.* from 
		(select * from wxms_public_number_check)t
		) a
		where ${condition} and a.rn>=#{start} and a.rn&lt;=#{pageSize}
	</select>
	<select id="getTotals" resultType="int">
		select count(*) from wxms_public_number_check
	</select>
	<select id="getTotalsCondition" resultType="int">
		select count(*) from wxms_public_number_check #{condition}
	</select>
	<delete id="delete">
		delete from wxms_public_number_check where id = #{id}
	</delete>
	<delete id="deleteMore">
		delete from wxms_public_number_check where id in
		<!-- collection:集合，separator:分隔符 -->
		<foreach collection="array" open="(" close=")" separator="," item="id">
			#{id}
		</foreach>
	</delete>
	
	
</mapper>